################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculatorTestSelenium/.vs/CalculatorTestSelenium/v16
/CalculatorTestSelenium/obj/Debug
